*
    margin: 0
    box-sizing: border-box

body,html
    border-radius: 0 

.wraper
    max-width: 1800px
    padding-left: 10px
    padding-right: 10px
    margin: auto
a
    text-decoration: none
.menu
    display: flex
    justify-content: space-between
    .logo
        display: flex
        column-gap: 15px
        align-items: center
        span
            font-size: 30px
            letter-spacing: 6px
            font-weight: 700
            font-family: "Maven Pro"
            text-transform: uppercase
    .links
        display: flex
        align-items: center
        column-gap: 60px
    ul
        display: flex
        list-style: none
        column-gap: 60px
        a
            text-transform: uppercase
            font-size: 16px
            font-weight: 500
            font-family: "Maven Pro"
.button
    font-size: 12px
    letter-spacing: 1px
    text-transform: uppercase
    font-weight: 500
    font-family: "Maven Pro"
    display: block
    padding: 21px 33px 19px
    border: 1px solid white
    border-radius: 30px
    box-sizing: border-box
header
    background-color: #73adc7
    background-image: url(../img/glasses.png)
    background-position: center
    padding: 45px 0px 50px
    color: white
    a
        color: white
h3
    font-size: 14px
    text-transform: uppercase
    font-family: "Maven Pro"
    font-weight: 700
    letter-spacing: 1px
    text-align: center
h2
    font-size: 86px
    font-family: "Maven Pro"
    font-weight: 500
    letter-spacing: -3px
    text-align: center
p
    font-size: 16px
    font-family: "Maven Pro"
    font-weight: 400
    text-align: center
    line-height: 28px
