doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title misocial 
        link(rel="stylesheet", href="css/styles.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
    body 
        header 
            .menu.wraper 
                a(href="index.html").logo
                    img(src="img/globe.png", alt="")
                    span misocial 
                .links 
                    ul.linksreference 
                        li
                            a.link(href="#") Home 
                        li
                            a.link(href="#") Why MISOCIAL
                        li
                            a.link(href="#") Features 
                        li
                            a.link(href="#") Arcticles 
                        li
                            a.link(href="#") Pricing 
                    a.button(href="#") get started
                .burger 
            .content 
                h3.headerline.dash-word  social marketing and analitics 
                h1.headerbig Pricing Table 
                p.smalltext Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum voluptatum nesciunt hic soluta omnis reprehenderit!
                a(href="#").arrow 

        main
                h3.dash-word.headerline misocial 
                h2.headerbig Select a Plan 
                p.smalltext Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum voluptatum nesciunt hic soluta omnis reprehenderit!
                .conteiner.wraper 
                    .option
                        img(src="img/standard.png", alt="standard")
                        h4 standard 
                        .price 
                            sup $
                            span 0
                            sub /month
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores praesentium ex vitae cupiditate corporis temporibus cumque provident nobis, repellat libero?
                        a.button.button-op(href="#") select plan
                    .option
                        img(src="img/radio.png", alt="radio")
                        h4 standard 
                        .price 
                            sup $
                            span 29
                            sub /month
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores praesentium ex vitae cupiditate corporis temporibus cumque provident nobis, repellat libero?
                        a.button.button-op(href="#") select plan
                    .option
                        img(src="img/personal.png", alt="personal")
                        h4 standard 
                        .price 
                            sup $
                            span 49
                            sub /month
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores praesentium ex vitae cupiditate corporis temporibus cumque provident nobis, repellat libero?
                        a.button.button-op(href="#") select plan
        footer 
            .map 
                h3 social marketing & analytics 
                h2 Take control of your data
                .conteiner 
                    a.button.button-map(href="#") get started
                    a.button.button-map(href="#") explore features
            .whitefield
                .menu 
                    a(href="index.html").logo
                        img(src="img/globe.png", alt="")
                        span misocial  
                    .links 
                        ul.linksreference 
                            li
                                a.link(href="#") home 
                            li
                                a.link(href="#") misocial
                            li
                                a.link(href="#") features 
                            li
                                a.link(href="#") arcticles 
                            li
                                a.link(href="#") pricing 
                        a.button(href="#") get started
                .bottom 
                    p &copy; 2025 all rights are protected 
                    .conteiner 
                        a.social(href="#").facebook 
                        a.social(href="#").twitter
                        a.social(href="#").google
                        a.social(href="#").instagram  
        script(src="js/scripts.js") 